
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Sawarabi+Mincho&display=swap');
 * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Sawarabi Mincho', serif;
    /* font-family: 'Montserrat', sans-serif;/ */
}
:root{
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --main-color:#4A9BE3;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}
body{
    /* font-family: 'Montserrat', sans-serif; */
    line-height: 1.7;
    color: var(--color-white);
    background-color: var(--main-color);
    overflow: hidden;
    /* background: var(--color-bg); */
}
.container{
   width: var(--container-width-lg);
   margin: 0 auto;
}


    
section h2{
   text-align: center;
   margin-bottom: 4rem;
}
h1,h2,h3,h4,h5{
   line-height: 1.2;
}
h1{
   font-size: 2.4rem;
}
h1{
   font-size: 2.4rem;
}
h2{
   font-size: 2.4rem;
}
h3{
   font-size: 1.6rem;
}
h4{
   font-size: 1.3rem;
}
a{
   color: var(--color-white);
}
img{
   width: 100%;
   display: block;
   object-fit: cover;
}
.btn{
   display: inline-block;
   background: var(--color-white);
   color: var(--color-black);
   padding: 1rem 2rem;
   border: 1px solid transparent;
   font-weight: 500;
   transition: var(--transition);
}






.btn:hover {
    background: transparent;
    color: var(--color-blue);
    border-color: var(--color-white);
}
.jobbutton{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: .7rem 3rem;
    border: 2px solid #000;
    font-weight: 500;
    transition: var(--transition);
    border-radius:4px;

}
.job-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.job-btn1,.job-btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1rem;
}



.newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #000;
    margin-top: 1.5rem;
    padding: 30px 0;
    
}

.newsletter h4{
    font-size: 14px;
    font-weight: 200;
    color: #fff;
}

.newsletter p{
    font-size: 13px;
    font-display: left;
    color: #fff;
}
.newstext{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    
}


.form{
    text-decoration: #000;
    display: flex;
    width:25%;
    
}
.form input{
    padding: 12px;
}
.form .normal{
    padding: 12px;
    background-color: #f7c94b;
}

.btn-section{
    margin-left: 2rem;
    margin-right: 2rem;
}
.btn-section .job{
   text-align: center;
    padding: 20px 0px;
}



@media(max-width:799px){

    .newsletter{
        justify-content: space-evenly;
        margin-left: -70px;
        padding: 30px 0;
    }
    .newstext{
        padding-left: 0px;
        
    }

  .form{
    text-decoration: #000;
    display: flex;
    /* width:100; */
   }

.normal {
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
    color: #000;
    /* background-color: #f7c94b; */
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    padding-left: 20%;
    }
}

@media(max-width: 477px){
    
    .newsletter {
        /* width: 100%; */
        display: block;
        justify-items: start;
        padding: 20px 20px; 
        margin-left: 0px;
     }
 
     .newsletter .form {
         width: 100%;
         padding-left: 0px;
         margin-left: 0px;
     }
 
     footer .copyright {
        text-align: start;
     }

     .jobbutton {
        display: inline-block;
        background: var(--color-white);
        color: var(--color-black);
        padding: .4rem .4rem;
        border: 1px solid #000;
        font-weight: 500;
        transition: var(--transition);
        border-radius: 4px;
    }

    .form{
        text-decoration: #000;
        padding:12px;
        display: flex;
        width:100;
        margin-left: 8%;
        margin-bottom: 12px;
    }
    footer p {
        font-size: 13px;
        margin: 0 0 2px 0;
    }
    .section-footer {
        padding: 40px 30px;
    }
    footer .col {
        margin-bottom: 20px;
        width: 40%;
    }
    footer a {
        margin-bottom: 0px;
    }

    .form input {
        padding: 0px 12px;
        height: 40px;
    }
    
    .form .normal {
        padding: 12px;
        height: 40px;
        display: table-cell;
        vertical-align: middle;
    }
    .normal > a {
        text-decoration: none;
        text-align: center;
        align-items: center;
    }

}


/* for home-room and home-gen */
/* for home-room */

#home-room {
    background-color: #ffff;
    text-align: center;
    padding: 30px 80px;
    position: relative;
}

#home-room h2,.room-detail {
    color: #000;
}

#home-room h2 {
    margin: 0;
    padding: 20px 0;
}

a.room-detail {
    margin: auto;
    /* padding-bottom: 20px;
    padding-right: 55px; */
}

a.room-detail:hover{
    color: #fab702;
}

#home-room-container {
    display: flex;
    justify-content: space-between;
    flex: wrap;
    padding: 20px 0;
}
.home-room-des {
    color: #000;
    text-align: start;
    padding: 20px 30px;
    line-height: 30px;
}

.home-room-des hr {
    border: 0;
    top: 0;
    border-top: 1px solid rgba(204, 204, 204, 0.6);
    /* padding: 2px 10px; */
}
.home-room-des p{
    margin-bottom: 5px;
}

#home-room .home-room-sample {
    width: 23%;
    min-width: 200px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    padding: 0;
}

#home-room .home-room-sample .avail-btn {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 40px;
    color: #000;
    background-color: #fab702;
    border-radius: 0;
    border: none;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
}

.home-room-sample .avail-btn {
    position: absolute;
    top: 20px;
    right: 0;
}

.home-room-info {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* .home-room-info .home-room-info-single {
    display: inline;
    font-size: 15px;*/
    /* padding-left: 20px; */
/* }  */

/* end of home-room */

/* home-gen-detail */

#home-gen-info {
    width: 100%;
    background-color: white;
    padding: 0;
    margin: auto;
    text-align: center;
}

#home-gen-info h2{
    color: #000;
    margin: auto;
    padding-bottom: 40px;
}

.home-gen-info-container {
    position: relative;
    margin: 0px 80px;
}

.home-gen-info-container img {
    height: 25em;
    margin-top: 30px;
}

.home-gen-info-det h4,
.home-gen-list {
    color: #000;
}

.home-gen-info-container .home-gen-info-det {
    width: 35%;
    height: 280px;
    background-color: #f7c94b;
    position: absolute;
    text-align: start;
    right: 130px;
    bottom: 8%;
    z-index: 99;
    animation: introLoad 2s forwards;

}

.home-gen-info-det h4 {
    padding: 20px 15px;
}

.home-gen-list {
    margin: 3px 0;
}


.home-gen-info-det .home-gen-list li {
    padding-left: 10px;
    color: #000;
    line-height: 30px;
}

.home-gen-info-det .home-gen-btn {
    margin-top: 3%;
    margin-left: 60%;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    color: #000;
    border: none;
    outline: none;
}


@media (max-width:799px) {
    #home-room h2 {
        font-size: 2.3rem;
    }

    #home-room-container {
        justify-content: center;
        flex-wrap: wrap;
    }

    #home-room .home-room-sample {
        margin: 0.9em;
        min-width: 270px;
        width: 27%;
    }

    #home-gen-info h2 {
        font-size: 2.3rem;
    }

    .home-gen-info-container img {
        height: 23em;
        background-size: cover;
    }

    .home-gen-info-container .home-gen-info-det {
        width: 60%;
        height: 280px;
        right: 50px;
    }
}

@media (max-width: 477px) {
    
    #home-room{
        align-items: center;
        width: 80%;
        margin: 0 auto;
        padding: 0px;
        margin-top: 30px;
    }

    #home-room-container {
        display: flex;
        flex-direction: column;
        flex: wrap;
        width: 100%;
        margin: 0 auto;
        padding: 0.9em 0;
        align-content: center;
    }

    #home-room .home-room-sample {
        margin: 0.8em;
        width: 100%;
    }
    #home-gen-info {
        width: 80%;
    }
    .home-gen-info-container{
        margin: 0 auto;
        width: 100%;
    }

    .home-gen-info-det h4 {
        font-size: 18px;
        padding:12px 0px 0px 12px;
        margin: 0px;
    }

    .home-gen-info-container .home-gen-info-det {
        width: 80%;
        height: 250px;
        font-size: 14px;
        /* margin: 0 auto; */
        right: 10px;
    }

    .home-gen-info-det .home-gen-btn {
        font-size: 12px;
        font-weight: 600;
        padding: 8px 16px;
    }
}

@keyframes introLoad {
    from {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

/* end of home-room and home-gen */

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}


/* =========== HOME JOBS ============== */

#home_jobs{
    background-color: var(--color-bg);
}
.jobs_header {
    padding-top: 3rem;
    text-align: center;
    width: 100%; 
    margin-top: 1rem;
    /* margin-left: 4rem;    */
    margin-bottom: 3rem;
    display: flex;
    
    justify-content:space-evenly;
}

.search_icon{
    border-color: yellow;
    border-style: dashed;
    background-color: #bcd8f0;
    width: 20rem;
    height: 2.8rem;
    border-radius: 0.3rem;
}

.uil{
    color: #ffff;
    display: inline-block;
}

#search_jobs{
    /* font-family: 'Roboto', sans-serif; */
    border-radius: 0.3rem;
    font-size: 15px;
    height: 2.8rem;
    /* margin-left: 4rem; */
    padding-left: 0rem;
    /* margin-right: 2rem; */
    width: 15rem;
    background-color: #bcd8f0;
    
}

#location{
    /* font-family: 'Roboto', sans-serif; */
    font-size: 15px;
    border-radius: 0.3rem;
    height: 2.8rem;
    /* margin-left: 1rem; */
    width: 15rem;
    /* padding-left: 1rem; */
    background-color: #bcd8f0;
}

#jobs_categories{
    font-size: 15px;
    /* font-family: 'Roboto', sans-serif; */
    color: #554848;
    border-radius: 0.3rem;
    height: 2.8rem;
    /* margin-left: 1rem; */
    width: 15rem;
    /* padding-left: 1rem; */
    padding-right: 2rem;
    background-color: #bcd8f0;
}

     .aaa:hover{
    background-color: #090E6A;
    color: #554848;
    font-size: 30px;
}

.search{
    font-size: 15px;
    /* font-family: 'Roboto', sans-serif; */
    height: 2.8rem;
    /* margin-left: 1rem; */
    /* width: max-content; */
    cursor: pointer;
    background-color: #e60078;
    width: 8rem;
    border-radius: 0.4rem;   
}

.search a{
    color: #bcd8f0;
    text-decoration: none;
}

.search a:hover{
    color: #554848;
    text-decoration: underline;
}

#jobs_container{
    background-color: #7fb8ea;
    width: 100%;
    padding: 4.5%;
}

#jobs_types {
    box-shadow: 0 1rem 2rem rgba(185, 184, 198, 0.2);
    background-color: #fff;
    border-radius: 0.3rem;
    border-style: solid;
    border-width: 2px;
    border-color: #090E6A;
}


#h2{
    /* font-family: 'Roboto', sans-serif; */
    color: rgb(247, 201, 75);
    text-align: center;
    margin-top: 2.5rem;
}

#jobs_type{
    height: 100%;
    display: flex;
    
    justify-content:space-evenly;
    /* flex-wrap: wrap; */
    
    
    background-size: cover;
    margin: 20px;
    padding: 10px;
    padding-bottom: 0.1rem;
}

.jobbackground_color{
    /* font-family: 'Roboto', sans-serif; */
    text-align: center;
    border-radius: 0.9rem;
    color: #554848;
    height: 50%;
    width: 23%;
    background-color:#BCD8F0;
    padding: 10px 16px;
}



#jobs_type a{
    color: #554848;
    text-decoration: none;
}


.browse{
    font-size: 15px;
    text-align: center;
    height: 3rem;
    width: max-content;
    margin-top: 1rem;
    cursor: pointer;
    background-color: rgb(247, 201, 75);
    width: 10rem;
    border-radius: 0.3rem;
    margin: 0 auto;
    display: block;
    margin-bottom: 1.2em;
    
}

.browse a{
    color: #554848;
    text-align: center;
    text-decoration: none;
}

.browse a:hover{
    color: #bcd8f0;
    text-decoration: none;
    text-shadow: rgba(216, 216, 216, 0.1);
}

@media only screen and (max-width: 799px){
    .jobs_header{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .search_icon{
        width: 92%;
        margin-bottom: 0.5rem;
        margin: 0 auto;
        margin-bottom: 10px;
        
    }
    
    #search_jobs{
        width: 90%;
        margin-bottom: 0.5rem;
        margin-left: 0;
        background-color: #bcd8f0;
    }

    #location{
        width: 90%;
        margin-bottom: 0.5rem;
        margin-left: 0;

    }

    #jobs_categories{
        width: 90%;
        margin-bottom: 0rem;
        margin-left: 0;

    }

    .search{
        margin: 0 auto;
        margin-top: 10px;
    }

    .jobbackground_color{
        font-size: 16px;
        width: 100%;
        height: 100%;
        border-radius: 0;
        text-align: center;
    }

    #jobs_type{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-size: cover;
    margin: 20px;
    padding: 10px;
    padding-bottom: 0.1rem;
    
    }

    .browse{
        margin-left: 40%;
    }

}


@media only screen and (max-width: 477px){

    #home_jobs {
        width: 80%;
        margin: 0 auto;
    }
    .jobs_header{
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #search_jobs::placeholder,#location::placeholder, #jobs_categories::placeholder{
        color: white;
        opacity: 0.75; /* Firefox */
      }

    #search_jobs,#location, #jobs_categories{
        border-radius: 0.3rem;
        font-size: 15px;
        height: 2.8rem;
        width: 100%;
        background-color: #1070c4;
        color: white;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
        
    }

    /* #location{
       font-size: 15px;
        border-radius: 0.3rem;
        height: 2.8rem;
        width: 19rem;
        background-color: #4A9BE3;
        margin-bottom: 0.5rem;
        margin-left: 0px;
    } */

    #jobs_categories{
        font-size: 15px;    
        color: white;
        border-radius: 0.5rem;
        height: 2.8rem;
        width: 100%;
        background-color: #1070c4;
        margin: 0 auto;
        text-align: center;
    }
    .btn-section {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .job-btn {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        flex-wrap: wrap;
    }
    .job-btn1 {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        flex-wrap: wrap;
    }




    .search{
        margin-top: 20px;
    }

    #h2{
        margin-bottom: 1rem;
    }

    .jobbackground_color{
        font-size: 16px;
        width: 100%;
        height: 100%;
        border-radius: 0;
        text-align: center;
    }

    .jobbackground_color a{
        text-decoration: none;
    }
    .search_icon {
        background-color: #1070c4;
    }
    #jobs_types {
        padding-bottom: 16px;
    }
    #jobs_type{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-size: cover;
    margin: 20px;
    margin-bottom: -10px;
    padding: 10px;
    padding-bottom: 0.1rem;
}

    .browse{
        display: block;
        margin:0 auto;
        margin-top: 30px;
    }

}

/* ============END OF HOME JOBS=============== */


.sginfo{
    color: #F6D106;
}
.logoimg{
    width: 50%;
    height: 100%;
}
/*=========== Slider ==================*/
.slider{
    height: 500px;
}
.carousel_text{
    position: absolute;
    top: 240px;
    left: 150px;
    z-index: 1;
    color: #1f2641;
}
.demo-wrap {
    overflow: hidden;
    position: relative;
    
  }
  
  .demo-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }


/*=================== START Navbar & Carousel TDTZ ===================*/
.bg_blue{
    background-color: #4A9BE3;
}
/* navitem logoimg */
.logoimg{
    width: 20px;
    height: 20px;
}
.info{
    color: gold;
}
nav a:hover{
	
	color:gold !important;
}
.slider{
    height: 500px;
}
.carousel_text{
    position: absolute;
    top: 250px;
    left: 150px;
    z-index: 1;
    color: white;
}

.banner-btn{
	background-color: transparent;
   
}
.banner-btn a{
	width: 150px;
	text-decoration: none;
	display: inline-block;	
	padding: 12px 0;
	color: #fff;
	border: .5px solid #fff;
	position: relative;
	transition: color 0.5s;
    text-align: center;
    
}
.banner-btn a span{
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #4A9BE3;
    z-index: -1;
   transition: 0.5s;
}
.banner-btn a:hover span{
	width: 100%;
}
.banner-btn a:hover{
    display: inline-block;
	color: goldenrod;
    font-weight: bold;    
}

@media only screen and (max-width: 799px) {
    .carousel_text{
        position: absolute;
        top: 300px;
        left: 100px;
        z-index: 1;
        color: white;
        
    }
    .banner-btn{
        margin-top: 30px;
    }
    .carousel_para{
        display: none;
    }
}
@media only screen and (max-width: 477px){
.carousel_text {
        left: 0;
        right: 0px;
        margin-left: 0px;
        margin: 0 auto;
        text-align: center;
        top: 250px;
    }
.banner-btn a{
    margin-bottom: 10px;
}}
/*========= overlay =======*/
.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.7);
    opacity: .5;
  }

/*=================== END Navbar & Carousel TDTZ ===================*/





  





    

