/*=============================== Modal Box =====================================*/
/* navbar dropdown */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-top: 8px;
    font-weight: 500;
    background-color: #4A9BE3;
}
.dropbtn:hover{
    color: #f7cd6c;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4A9BE3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}


/* other model form */
.main{
    padding: 20px;
}
.first .modal-h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;
}
.first .userInput{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.first .userInput .modal-label{
    font-weight: bolder;
    font-size: 12px;
}
.first .userInput .modal-div{
    margin-bottom: 20px;
}
.salary-div{
    display: flex;
}
.salary-div-1{
    display: flex;
    width: 49%;
    align-items: center;
}
.salary-label{
    margin: 0px 10px;
    font-size: 12px;
    padding-top: 8px;
}
.modal-input-salary{
    border: 1px solid #088178;
    margin-top: 8px;
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 14px;
}
.first .userInput .modal-input,.first .userInput .modal-select,.first .userInput .modal-input-salary{
    margin-top: 8px;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #088178;
    border-radius: 5px;
    font-size: 14px;
}
.userInput .modal-select .modal-option{
    font-size: 14px;
}
.userInput .modal-select .modal-option:nth-child(1){
    background-color: rgb(77, 75, 75);
    font-weight: bolder;
    color: white;
}
.first .userInput .modal-input:focus {
    outline: 1px solid #088178;
}
.salary-div .modal-input-salary:focus {
    outline: 1px solid #088178;
}
.salary-div .modal-input-salary {
    margin-right: 5px;
}
.first .uploadBtn{
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #088178;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    margin: 20px 0;
}
.job-location{
    width: 100%;
    margin-top: 20px;
}
.job-loaction-iframe{
    width: 100%;
}
.modal-input-salary::placeholder{
    font-size: 12px;
}


/* room modal form */
.main-room{
    padding: 20px 10px;
}
.first-room .modal-h1-room{
    text-align: center;
    font-size: 30px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}
.first-room .userInput-room{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.modal-div-room{
    width: 50%;
    padding: 10px;
}
.modal-div-room-textarea{
    padding: 10px;
    width: 100%;
}
.modal-input-room-textarea{
    width: 100%;
    border: 1px solid #088178;
    margin-top: 10px;
    opacity: .75;
    border-radius: 6px;
}
.first-room .userInput-room .modal-label-room{
    font-weight: bold;
    font-size: 13px;
}
.first-room .userInput-room .modal-div-room{
    margin-bottom: 10px;
}
.first-room .userInput-room .modal-input-room,.first-room .userInput-room .modal-select-room{
    margin-top: 8px;
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #088178;
    border-radius: 5px;
    font-size: 13px;
}

.userInput-room .modal-select-room .modal-option-room{
    font-size: 14px;
}

input#avaiablility{
    margin-top: 24px;
}
.userInput-room .modal-select-room .modal-option-room:nth-child(1){
    background-color: rgb(77, 75, 75);
    font-weight: bolder;
    color: white;
}
.userInput-room .modal-select-room .modal-option-room-special{
    background-color: white;
    color: black;
}
.userInput-room .modal-select-room .modal-option-room:hover{
    background-color: #088178;
    font-weight: bolder;
    color: white;
}
.modal-input-room-image{
    margin-top: 8px;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #088178;
    border-radius: 5px;
    font-size: 14px;
}
.first-room .userInput-room .modal-select-room {
    padding: 8px 10px;
}
.first-room .userInput-room .modal-input-room{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    padding: 0px 10px;
}
.first-room .userInput-room .modal-input-room:focus {
    border-bottom: 2px solid #088178;
    border-top: none;
    border-left: none;
    border-right: none;
}
.first-room .uploadBtn-room{
    border: none;
    border-radius: 5px;
    padding: 9px 0px;
    background-color: #088178;
    color: white;
    font-size: 13px;
    margin-bottom: 100px;
    font-weight: bold;
    display: inline-block;
    margin: 0 auto;
    width: 300px;
}

.multiselect {
    width: 50%;
    padding: 10px;
}
.multiselect1 {
    width: 50%;
    padding: 10px;
}
.selectBox {
    position: relative;
}
.selectBox select {
    width: 100%;
    font-size: 14px;
}
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#checkboxes, #checkboxes1 {
    display: none;
    border: 1px #1e90ff solid;
    border-radius: 4px;
    padding: 10px;
}
#checkboxes label,#checkboxes1 label {
    display: block;
}


/* login modal form */
.otherLogin .other-p{
    text-align: center;
}
.otherLogin .google,.otherLogin .facebook,.otherLogin .apple{
    display: flex;
    justify-content: space-between;
    border: 1px solid #088178;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 20px;
}
.otherLogin .other-img{
    width: 5%;
    height: 5%;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-left: 10px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 4%;
}
.otherLogin .other-h2 .other-a{
    text-decoration: none;
    color: rgb(74, 69, 69);
}
.otherLogin .other-h2{
    text-align: center;
    margin-right: 70px;
    font-size: 17px;
    margin-top: 10px;
    width: 100%;
}
.otherLogin .other-login{
    text-align: center;
    margin-top: 40px;
}
.otherLogin .other-login .other-login-a{
    text-decoration: none;
}
.otherLogin .other-login .other-login-a:hover{
    text-decoration: underline;
}
label.error {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}
input.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

/* register modal form */
.first .modal-h4{
    text-align: center;
    margin-top: 25px;
}

.main-register .first .modal-p{
    font-size: 12px;
    margin-top: 20px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgb(194, 184, 184);
    margin: 30px 0;
}
.otherLogin{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.term .term-p .term-a{
    text-decoration: underline;
    color: rgb(135, 130, 130);
}
.term .term-p .term-a:hover{
    font-size: 17px;
}
.term .term-p{
    line-height: 30px;
    text-align: justify;
}
.term{
    padding: 0 20px;
}


/*=============================== Responsive @media(max:799px) =====================================*/
@media(max-width:799px){
    /* other modal form */
    .first .modal-h1 {
        font-size: 26px;
    }
    .first .userInput .modal-label {
        font-size: 13px;
    }
    .first .uploadBtn {
        font-size: 13px;
        padding: 8px;
        font-weight: 100;
    }

    /* room modal form */
    #job,#room,#article,#login,#register{
        margin-top: 20px;
    }
    .first-room .modal-h1-room {
        font-size: 26px;
        font-weight: bold;
    }
    .first-room .userInput-room .modal-label-room {
        font-size: 13px;
    }
    .first-room .userInput-room {
        margin-left: 0px; 
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .modal-select-room{
        width: 49%;
    }
    .userInput-room .modal-select-room .modal-option-room {
        font-size: 13px;
    }
    .userInput-room .modal-select-room .modal-option-room-special {
        font-size: 13px;
    }
    .room-modal-p{
        font-size: 10px;
    }
    .first-room .userInput-room .modal-select-room {
        padding: 8px 0px;
        font-size: 13px;
    }
    .first-room .uploadBtn-room {
        padding: 8px 0px;
        font-size: 13px;
        width: 100%;
    }
    .dropbtn {
        padding: 9px 0px;
    }

    /* register modal form */
    .term .term-p {
        font-size: 13px;
    }

}



/*=============================== Responsive @media(max:477px) =====================================*/
@media(max-width:477px){
    /* other modal form */
    .main{
        padding: 0px;
    }
    .first{
        padding: 0px;
    }
    .first .modal-h1 {
        font-size: 23px;
    }
    .first .userInput .modal-label {
        font-size: 12px;
    }
    .first .uploadBtn {
        font-size: 13px;
        padding: 8px;
        font-weight: 100;
    }
    form.first{
        padding: 0.01em 0px;
    }
    .salary-label{
        font-size: 13px;
    }


    /* room modal form*/
    .first-room .modal-h1-room {
        font-size: 19px;
    }
    .first-room .userInput-room .modal-label-room {
        font-size: 12px;
    }
    .modal-div-room-100{
        width: 100%;
    }
    .main-room {
        padding: 20px 0px;
    }
    .first-room .uploadBtn-room {
        padding: 10px 0px;
        width: 40%;
    }
    .multiselect,.multiselect1 {
        width: 100%;
    }
    .multiselect .selectBox>.modal-select-room,.multiselect1 .selectBox>.modal-select-room{
        font-size: 12px;
    }

    /* register modal form */
    .otherLogin .other-h2 {
        font-size: 14px;
    }
    .otherLogin .other-login {
        font-size: 13px;
    }
    .term .term-p {
        font-size: 12px;
    }
}
